@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#content{
    color:white;
}
header {
    background-color: white;
    width: 100%;
    height: 10vh;
    background-image: url('assets/photos/banner.png');
    border-radius: 10px;
    border: 1px solid #eb521f;
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}

nav {
    width: 100%;
    background: #FFCC33;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
}

content {
    width: 100%;
    height: 100vh;
    background: #FF6633;
    border-radius: 10px;
    border: 1px solid #e69006;
    margin: 5px;
}

footer {
    bottom:0px;
    display: flex;
    width: 100%;
    height: 6vh;
    background: #D9D9D9;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    text-align: center;
}

section{
    width:100%;
    height: 60%;
    text-align: center;
}
